[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
klibs = {git = "https://github.com/a-hurst/klibs.git", ref = "2549cbba296d55d0feb518c1fffb066c890413a8"}

[requires]
python_version = "3.7"

[scripts]
