### Additional dependencies for TraceLab ###

# To install these automatically, run 'pip install -r requirements.txt' in the project folder

pypng==0.0.18
git+https://github.com/a-hurst/klibs.git#egg=klibs